.general-contain{
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 0;
    font-family: raleway;
}
#slide-component-2{
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    width: 270px;
    height: 283px;


    background-color: #fff;
    transform: translateX(700px);
    transition: 1s;

    .container{

        button{
            margin-top: 20px;
            width: 100%;
            background-color: #ea3a3c;
            color: #fff;
            border: none;
            height: 30px;
            border-radius: 5px;
            margin-bottom: 20px;
            
        }
        
                
            .component-item{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 42px;
                border-bottom: 1px solid #000;
                .component-contain{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    i{
                        opacity: 0.7;
                    }
                
                    .text-area{
                        font-size: 14px;
                    }
                }
             }
             .bor-none{
                 border: none;
             }
    }

}

#slide-component{
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 270px;
    height: 532px;

    background-color: #fff;
    transform: translateX(600px);
    transition: 1s;
    .container{

        button{
            margin-top: 20px;
            width: 100%;
            background-color: #ea3a3c;
            color: #fff;
            border: none;
            height: 30px;
            border-radius: 5px;
            margin-bottom: 20px;
            
        }
        
                
            .component-item{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 42px;
                border-bottom: 1px solid #000;
                .component-contain{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                
                    .text-area{
                        font-size: 14px;
                        i{
                            margin-right: 10px;
                        }
                    }
                }
             }
             .bor-none{
                 border: none;
             }
    }
}

#header{
    margin-top: 70px;
    .custom-container{
        .row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            

            
            .menu{
                .large-nav{
                    display: block;
                    ul{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        list-style-type: none;
                    }
                }
                
            }
            .contact{
                padding: 0;
                .tel-mail{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .icon{
                        i{
                            font-size: 35px;
                            color: #ff5c00;
                        }
                    }
                    .tel-text{
                        p{
                            margin: 0;
                        }
                    }
                }
            }
        }
        
    }
}
#header-1{
    background-color: #bfbfbf;
    padding-top: 7px;
    padding-bottom: 7px;
    overflow: hidden;
    .custom-container{
        .row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .col-2{
                display: flex;
                align-items: center;
                justify-content: center;
                #sm-btn{
                    width: 30px;
                    height: 30px;
                    background-color: #ff5c00;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

            }
            .col-3{
                img{
                    width: 100%;
                }
            }
            .col-7{
                .medium-text-area{
                    
                    form{
                        position: relative;
                        width: 100%;
                        .first{
                            
                            width: 100%;
                            
                            height: 28px;
                            border:none;
                            border-radius: 5px;
                            background-color: #d6d6d6;

                            
                        }
                        .form-button{
                            position: absolute;
                            right: 0;
                            top: 0;
                            height: 28px;
                            border: none;
                            background-color: #d6d6d6;
                        }
                        
                    }
                }
            }
        }
    }
}
#header-bottom{
    width: 100%;
    height: 58px;
    background-color: #ff5c00;
    margin-top: 50px;
    .custom-container{
        .row{
            display: flex;
            align-items: center;

            .col-lg-3{
                background-color: #2d2d2d;
                height: 58px !important;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .text{
                    margin-left: 10px;
                    display: flex;
                    align-items: center;

                    color: white;
                    font-size: 14px;
                    i{
                        margin-right: 10px;
                    }
                }
                .icon{
                    color: white;
                    margin-right: 10px;
                }
            }
            .col-lg-7{
                form{
                    width: 100%;
                    position: relative;
                    input{
                        width: 100%;
                        height: 42px;
                        border: none;
                        border-radius: 50px;
                        outline: none;
                        padding-left: 20px;

                    }
                    button{
                        height: 42px;
                        width: 60px;
                        border-top-right-radius: 50px;
                        border-bottom-right-radius: 50px;
                        border: none;
                        background-color: #2d2d2d;
                        color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        top: 0;
                        right: 0;
                        
                        i{
                            opacity: .5;
                        }

                    }
                }
            }
            .col-lg-2{
                display: flex;
                align-items: center;
                justify-content: flex-end;

                .circle{
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 20px;
                }
            }
        }
    }
}
#header-bottom-1{
    .custom-container{
        .row{
            .col-3{
                text-align: center;
                padding-bottom: 5px;
                padding-top: 5px;
                p{
                    margin: 0;
                    font-size: 11px;
                    text-transform: uppercase;
                    line-height: 100%;
                    white-space: nowrap;
                    display: block;

                    
                }

            }
        }
    }
}
#components{
    background: #F2F2F2;
    height: 100%;
    
    .custom-container{
       
        .row{
            .none{
                background-color: #fff;
                height: 50px;
                padding: 0;
                
                justify-content: center;
                box-shadow: 0px 0 0 4px 5px rgba(0,0,0,1);
                opacity: 0;
                transition: 2s;
                transform: translateY(-700px);
               .component{
                   background-color: #fff;
                   align-items: center;
                   justify-content: center;
                   width: 100%;
                   display: flex;
                    .component-contain{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 0.3px solid gray;
                    height:50px;
                    opacity: 0.7;
                    font-size: 15px;
                    .text{
                        i{
                            opacity: 0.7;
                            margin-right: 10px;

                        }
                        span{
                            opacity: 0.9;
                        }
                    }
                    }
                    &:hover ,.component-contain.text{
                        color: #ff5c00;

                    }

               }
            }
            .col-lg-6{
                padding: 0;
               .slide{
                   height: 100%;
                   .img-area{
                       height: 100%;
                    img{
                        height: 100%;
                    }
                }
               }
               .owl-stage-outer{
                   height: 100%;
                   .owl-stage{
                       height: 100%;
                       .owl-item{
                           height: 100%;
                       }
                   }
               }
            }
            .col-lg-3{
                padding: 0;
                height: 100%;
                .reclam{
                    background: #F2F2F2;
                    position: relative;
                    z-index: 1;
                    transition: 2s;
                    
                    &::after{
                        content: "";
                        position: absolute;
                        z-index: 2;
                        background-color: white;
                        
                        left: 0;
                        bottom: 0;
                       
                        width: 0%;
                        transition: 2s;
                        height: 100%;
                        opacity: .5;

                    }
                    &:hover{
                        
                        &::after{
                            width: 87% !important;
                        }
                        

                    }


                   
                    
                }
            }
        }
    }
}
#featured{
    margin-top: 50px;
    .custom-container{
        .head{

            width: 100%;
            .line{
                width: 100%;
                height: 0.5px;
                background-color: gray;
                margin-bottom: 30px;
                .sm-line{
                    width: 200px;
                    height: 3px;
                    background-color: #ff5c00;
                }
            }
        }
        .row{
            display: flex;
            align-items: center;
            justify-content: center;
            .col-12{
                width: 20%;
                .cart{
                    width: 210px;
                    height: 322px;
                    box-shadow: 0 2px 3px 0 rgba(100, 100 ,100, 0.3);

                    .img-area{
                        position: relative;
                        z-index: 1;

                        &::after{
                            content: "";
                            position: absolute;
                            z-index: 2;
                            background-color: white;
                            
                            left: 0;
                            bottom: 0;
                           
                            width: 0%;
                            transition: 2s;
                            height: 100%;
                            opacity: .5;
    
                        }
                        &:hover{
                            
                            &::after{
                                width: 100% !important;
                            }

                            
                            
    
                        }

                    }
                    &:hover .about{
                        background: #000;
                        color: white;

                    }

                    .about{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 52px;
                        transition: 1s;
                    }

                }
            }
            .owl-stage-outer{
                .owl-stage{
                    .owl-item{
                       
                        
                    }
                }
            }
        }
    }
}
#today-deals{
    margin-top: 40px;
    .custom-container{
        .big-row{
            
            .first-slide-area{
                padding: 10px;
               
               .my-slider{
                    border: 1px solid gray;
                    .small-row{
                        .left-img{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            img{
                                width: 300px;
                            }
                        }
                        .right-text{
                            
                            .big-text{
                                margin-top: 10%;
                                padding: 10px;
                                .tittle{

                                }
                                span{
                                    display: flex;
                                    align-items: center;
                                    font-size: 10px;
                                    margin-bottom: 20px;
                                    i{
                                        margin-right: 5px;
                                    }
                                }
                                .content{
                                    font-size: 13px;
                                    padding-top: 15px;
                                    border-top: 1px solid gray;
        
                                }
                                .price{
                                    font-size: 23px;
                                    color: #ff5c00;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
               }
               .second-slider{
                    border: 1px solid gray;
                    display: flex;
                    border-top: none;
                    .owl-item{
                        display: flex !important;
                        align-items: center;
                        justify-content: center !important;
                    }
                    
                   .blog{
                       border: 1px solid gray;
                       width: 119px;
                       height: 85px;
                       padding: 5px;
                       margin: 10px;
                       display: flex;
                       align-items: center;
                       justify-content: center;
                       img{
                           width: 81px;

                       }
                   }
               }






            }
            .second-slide-area{
                
                padding: 0 10px 0 10px ;
                border-top: none;
                
                .tittle{
                    display: block;
                    padding: 10px 0 10px 0;
                    margin-top: 10px;
                    background-color: #F2F2F2;
                    
                    
                }
                .third-slider{
                    border: 1px solid gray;
                    .third-slide-item{
                        .component{
                            display: flex;
                            align-items: center;
                            margin-bottom: 5px;
                            
                           
                            .img-zone{
                                img{
        
                                }
                            }
                            .text-zone{
                                .about{
                                    margin: 0;
                                    font-size: 14px;
        
                                }
                                span{
                                    
                                    font-size: 10px;
                                    color: gray;
        
        
                                }
                                .price{
                                    font-size: 16px;
                                    color: #ff5c00;
                                    font-weight: 600;
        
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
}




