

.custom-container{
    max-width: 1160px;
}
.component-contain{
    width: 90%;
}
a{
    color: #000;
    text-decoration: none;
}

@media only screen and (max-width: 992px) {

    #header-bottom{
        display: none;
    }
    .reclam-area{
        display: flex;
        .reclam{
            width: 100% !important;
            img{
                width: 100% !important;
            }
        }
       
    }
}
@media only screen and (min-width: 768px){
    .custom-container{
        max-width: 720px !important;
    }
}
@media only screen and (min-width: 992px){
    .custom-container{
        max-width: 1160px !important;
    }
}

@media only screen and (max-width: 992px){
    #header{
        display: none;
        
    }
}
@media only screen and (min-width: 992px){
    #header-1{
        display: none;
        
    }
}
@media only screen and (max-width: 992px){
    #components{
        .row{
            .none{
                display: none !important;
            }
        }
    }

}
@media only screen and (min-width: 992px){
    #header-bottom-1{
        display: none;
    }
}
@media only screen and (min-width: 992px){
    #slide-component{
        display: none;
    }
}

.style-1{
    transform: translateX(0) !important;
}
.style-2{
    opacity: 1 !important;
    transform: translateY(0) !important;
}
@media only screen and (min-width: 992px){
    #slide-component-2{
        display: none !important;
    }
}

.style-3{
    transform: translateX(0) !important;
}

@media only screen and (max-width: 600px){
    #featured{
        .col-12{
            width: 100% !important;
            .cart{
                width: 100% !important;

            }
        }
    }
}

@media only screen and (max-width: 600px){
    #today-deals{
        .txt{
            display: none !important;
        }
    }
}
@media only screen and (min-width: 768px){
    #fashion{
        .one-component{
            .card{
                height: 263px !important;
            }
        }
    }

}

@media only screen and (max-width: 768px){
    #fashion{
        .fashion-img{
            img{
                display: none !important;
            }
        }
    }
}
@media only screen and (max-width: 768px){
    #fashion{
        .fashion-items{
            .row{
                .col-lg-2{
                    display: none !important;
                }
            }
        }
    }
}
@media only screen and (min-width: 768px){
    #fashion{
        .fashion-items{
            .row{
                select{
                    display: none !important;
                }
            }
        }
    }
}
























