.card {
  position: relative;
}

.card .my-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.card .my-layer .box {
  width: 40px;
  height: 40px;
  background-color: #ff5c00;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
  color: white;
}

.card .my-layer .box-js {
  position: absolute;
  top: 0;
  left: 0;
}

.card .my-layer .box-js .box-1 {
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  margin-bottom: 5px;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.card:hover .my-layer .box {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card:hover .my-layer .box-1 {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.general-contain {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 0;
  font-family: raleway;
}

#slide-component-2 {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  width: 270px;
  height: 283px;
  background-color: #fff;
  -webkit-transform: translateX(700px);
          transform: translateX(700px);
  -webkit-transition: 1s;
  transition: 1s;
}

#slide-component-2 .container button {
  margin-top: 20px;
  width: 100%;
  background-color: #ea3a3c;
  color: #fff;
  border: none;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
}

#slide-component-2 .container .component-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 42px;
  border-bottom: 1px solid #000;
}

#slide-component-2 .container .component-item .component-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#slide-component-2 .container .component-item .component-contain i {
  opacity: 0.7;
}

#slide-component-2 .container .component-item .component-contain .text-area {
  font-size: 14px;
}

#slide-component-2 .container .bor-none {
  border: none;
}

#slide-component {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 270px;
  height: 532px;
  background-color: #fff;
  -webkit-transform: translateX(600px);
          transform: translateX(600px);
  -webkit-transition: 1s;
  transition: 1s;
}

#slide-component .container button {
  margin-top: 20px;
  width: 100%;
  background-color: #ea3a3c;
  color: #fff;
  border: none;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
}

#slide-component .container .component-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 42px;
  border-bottom: 1px solid #000;
}

#slide-component .container .component-item .component-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#slide-component .container .component-item .component-contain .text-area {
  font-size: 14px;
}

#slide-component .container .component-item .component-contain .text-area i {
  margin-right: 10px;
}

#slide-component .container .bor-none {
  border: none;
}

#header {
  margin-top: 70px;
}

#header .custom-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .custom-container .row .menu .large-nav {
  display: block;
}

#header .custom-container .row .menu .large-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

#header .custom-container .row .contact {
  padding: 0;
}

#header .custom-container .row .contact .tel-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .custom-container .row .contact .tel-mail .icon i {
  font-size: 35px;
  color: #ff5c00;
}

#header .custom-container .row .contact .tel-mail .tel-text p {
  margin: 0;
}

#header-1 {
  background-color: #bfbfbf;
  padding-top: 7px;
  padding-bottom: 7px;
  overflow: hidden;
}

#header-1 .custom-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header-1 .custom-container .row .col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header-1 .custom-container .row .col-2 #sm-btn {
  width: 30px;
  height: 30px;
  background-color: #ff5c00;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header-1 .custom-container .row .col-3 img {
  width: 100%;
}

#header-1 .custom-container .row .col-7 .medium-text-area form {
  position: relative;
  width: 100%;
}

#header-1 .custom-container .row .col-7 .medium-text-area form .first {
  width: 100%;
  height: 28px;
  border: none;
  border-radius: 5px;
  background-color: #d6d6d6;
}

#header-1 .custom-container .row .col-7 .medium-text-area form .form-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 28px;
  border: none;
  background-color: #d6d6d6;
}

#header-bottom {
  width: 100%;
  height: 58px;
  background-color: #ff5c00;
  margin-top: 50px;
}

#header-bottom .custom-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-bottom .custom-container .row .col-lg-3 {
  background-color: #2d2d2d;
  height: 58px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header-bottom .custom-container .row .col-lg-3 .text {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 14px;
}

#header-bottom .custom-container .row .col-lg-3 .text i {
  margin-right: 10px;
}

#header-bottom .custom-container .row .col-lg-3 .icon {
  color: white;
  margin-right: 10px;
}

#header-bottom .custom-container .row .col-lg-7 form {
  width: 100%;
  position: relative;
}

#header-bottom .custom-container .row .col-lg-7 form input {
  width: 100%;
  height: 42px;
  border: none;
  border-radius: 50px;
  outline: none;
  padding-left: 20px;
}

#header-bottom .custom-container .row .col-lg-7 form button {
  height: 42px;
  width: 60px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: none;
  background-color: #2d2d2d;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
}

#header-bottom .custom-container .row .col-lg-7 form button i {
  opacity: .5;
}

#header-bottom .custom-container .row .col-lg-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#header-bottom .custom-container .row .col-lg-2 .circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 20px;
}

#header-bottom-1 .custom-container .row .col-3 {
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
}

#header-bottom-1 .custom-container .row .col-3 p {
  margin: 0;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 100%;
  white-space: nowrap;
  display: block;
}

#components {
  background: #F2F2F2;
  height: 100%;
}

#components .custom-container .row .none {
  background-color: #fff;
  height: 50px;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 0 0 4px 5px black;
          box-shadow: 0px 0 0 4px 5px black;
  opacity: 0;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform: translateY(-700px);
          transform: translateY(-700px);
}

#components .custom-container .row .none .component {
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#components .custom-container .row .none .component .component-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.3px solid gray;
  height: 50px;
  opacity: 0.7;
  font-size: 15px;
}

#components .custom-container .row .none .component .component-contain .text i {
  opacity: 0.7;
  margin-right: 10px;
}

#components .custom-container .row .none .component .component-contain .text span {
  opacity: 0.9;
}

#components .custom-container .row .none .component:hover, #components .custom-container .row .none .component .component-contain.text {
  color: #ff5c00;
}

#components .custom-container .row .col-lg-6 {
  padding: 0;
}

#components .custom-container .row .col-lg-6 .slide {
  height: 100%;
}

#components .custom-container .row .col-lg-6 .slide .img-area {
  height: 100%;
}

#components .custom-container .row .col-lg-6 .slide .img-area img {
  height: 100%;
}

#components .custom-container .row .col-lg-6 .owl-stage-outer {
  height: 100%;
}

#components .custom-container .row .col-lg-6 .owl-stage-outer .owl-stage {
  height: 100%;
}

#components .custom-container .row .col-lg-6 .owl-stage-outer .owl-stage .owl-item {
  height: 100%;
}

#components .custom-container .row .col-lg-3 {
  padding: 0;
  height: 100%;
}

#components .custom-container .row .col-lg-3 .reclam {
  background: #F2F2F2;
  position: relative;
  z-index: 1;
  -webkit-transition: 2s;
  transition: 2s;
}

#components .custom-container .row .col-lg-3 .reclam::after {
  content: "";
  position: absolute;
  z-index: 2;
  background-color: white;
  left: 0;
  bottom: 0;
  width: 0%;
  -webkit-transition: 2s;
  transition: 2s;
  height: 100%;
  opacity: .5;
}

#components .custom-container .row .col-lg-3 .reclam:hover::after {
  width: 87% !important;
}

#featured {
  margin-top: 50px;
}

#featured .custom-container .head {
  width: 100%;
}

#featured .custom-container .head .line {
  width: 100%;
  height: 0.5px;
  background-color: gray;
  margin-bottom: 30px;
}

#featured .custom-container .head .line .sm-line {
  width: 200px;
  height: 3px;
  background-color: #ff5c00;
}

#featured .custom-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#featured .custom-container .row .col-12 {
  width: 20%;
}

#featured .custom-container .row .col-12 .cart {
  width: 210px;
  height: 322px;
  -webkit-box-shadow: 0 2px 3px 0 rgba(100, 100, 100, 0.3);
          box-shadow: 0 2px 3px 0 rgba(100, 100, 100, 0.3);
}

#featured .custom-container .row .col-12 .cart .img-area {
  position: relative;
  z-index: 1;
}

#featured .custom-container .row .col-12 .cart .img-area::after {
  content: "";
  position: absolute;
  z-index: 2;
  background-color: white;
  left: 0;
  bottom: 0;
  width: 0%;
  -webkit-transition: 2s;
  transition: 2s;
  height: 100%;
  opacity: .5;
}

#featured .custom-container .row .col-12 .cart .img-area:hover::after {
  width: 100% !important;
}

#featured .custom-container .row .col-12 .cart:hover .about {
  background: #000;
  color: white;
}

#featured .custom-container .row .col-12 .cart .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 52px;
  -webkit-transition: 1s;
  transition: 1s;
}

#today-deals {
  margin-top: 40px;
}

#today-deals .custom-container .big-row .first-slide-area {
  padding: 10px;
}

#today-deals .custom-container .big-row .first-slide-area .my-slider {
  border: 1px solid gray;
}

#today-deals .custom-container .big-row .first-slide-area .my-slider .small-row .left-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#today-deals .custom-container .big-row .first-slide-area .my-slider .small-row .left-img img {
  width: 300px;
}

#today-deals .custom-container .big-row .first-slide-area .my-slider .small-row .right-text .big-text {
  margin-top: 10%;
  padding: 10px;
}

#today-deals .custom-container .big-row .first-slide-area .my-slider .small-row .right-text .big-text span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
  margin-bottom: 20px;
}

#today-deals .custom-container .big-row .first-slide-area .my-slider .small-row .right-text .big-text span i {
  margin-right: 5px;
}

#today-deals .custom-container .big-row .first-slide-area .my-slider .small-row .right-text .big-text .content {
  font-size: 13px;
  padding-top: 15px;
  border-top: 1px solid gray;
}

#today-deals .custom-container .big-row .first-slide-area .my-slider .small-row .right-text .big-text .price {
  font-size: 23px;
  color: #ff5c00;
  font-weight: 600;
}

#today-deals .custom-container .big-row .first-slide-area .second-slider {
  border: 1px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: none;
}

#today-deals .custom-container .big-row .first-slide-area .second-slider .owl-item {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

#today-deals .custom-container .big-row .first-slide-area .second-slider .blog {
  border: 1px solid gray;
  width: 119px;
  height: 85px;
  padding: 5px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#today-deals .custom-container .big-row .first-slide-area .second-slider .blog img {
  width: 81px;
}

#today-deals .custom-container .big-row .second-slide-area {
  padding: 0 10px 0 10px;
  border-top: none;
}

#today-deals .custom-container .big-row .second-slide-area .tittle {
  display: block;
  padding: 10px 0 10px 0;
  margin-top: 10px;
  background-color: #F2F2F2;
}

#today-deals .custom-container .big-row .second-slide-area .third-slider {
  border: 1px solid gray;
}

#today-deals .custom-container .big-row .second-slide-area .third-slider .third-slide-item .component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

#today-deals .custom-container .big-row .second-slide-area .third-slider .third-slide-item .component .text-zone .about {
  margin: 0;
  font-size: 14px;
}

#today-deals .custom-container .big-row .second-slide-area .third-slider .third-slide-item .component .text-zone span {
  font-size: 10px;
  color: gray;
}

#today-deals .custom-container .big-row .second-slide-area .third-slider .third-slide-item .component .text-zone .price {
  font-size: 16px;
  color: #ff5c00;
  font-weight: 600;
}

#somewhere .custom-container .row {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#somewhere .custom-container .row .left-img {
  padding: 0;
  width: 48%;
  position: relative;
  z-index: 1;
}

#somewhere .custom-container .row .left-img img {
  width: 100%;
}

#somewhere .custom-container .row .left-img::after {
  content: "";
  position: absolute;
  z-index: 2;
  background-color: white;
  left: 0;
  bottom: 0;
  width: 0%;
  -webkit-transition: 2s;
  transition: 2s;
  height: 100%;
  opacity: .5;
}

#somewhere .custom-container .row .left-img:hover::after {
  width: 100% !important;
}

#somewhere .custom-container .row .right-img {
  padding: 0;
  width: 48%;
  position: relative;
  z-index: 1;
}

#somewhere .custom-container .row .right-img img {
  width: 100%;
}

#somewhere .custom-container .row .right-img::after {
  content: "";
  position: absolute;
  z-index: 2;
  background-color: white;
  left: 0;
  bottom: 0;
  width: 0%;
  -webkit-transition: 2s;
  transition: 2s;
  height: 100%;
  opacity: .5;
}

#somewhere .custom-container .row .right-img:hover::after {
  width: 100% !important;
}

#portland {
  margin-top: 30px;
}

#portland .custom-container {
  padding: 0;
}

#portland .custom-container .row {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

#portland .custom-container .row::after {
  content: "";
  position: absolute;
  z-index: 2;
  background-color: white;
  left: 0;
  bottom: 0;
  width: 0%;
  -webkit-transition: 2s;
  transition: 2s;
  height: 100%;
  opacity: .5;
}

#portland .custom-container .row:hover::after {
  width: 100% !important;
}

#portland .custom-container .row .col-12 {
  padding: 0;
}

#portland .custom-container .row .col-12 img {
  width: 100%;
}

.custom-container {
  max-width: 1160px;
}

.component-contain {
  width: 90%;
}

a {
  color: #000;
  text-decoration: none;
}

@media only screen and (max-width: 992px) {
  #header-bottom {
    display: none;
  }
  .reclam-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .reclam-area .reclam {
    width: 100% !important;
  }
  .reclam-area .reclam img {
    width: 100% !important;
  }
}

@media only screen and (min-width: 768px) {
  .custom-container {
    max-width: 720px !important;
  }
}

@media only screen and (min-width: 992px) {
  .custom-container {
    max-width: 1160px !important;
  }
}

@media only screen and (max-width: 992px) {
  #header {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  #header-1 {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  #components .row .none {
    display: none !important;
  }
}

@media only screen and (min-width: 992px) {
  #header-bottom-1 {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  #slide-component {
    display: none;
  }
}

.style-1 {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

.style-2 {
  opacity: 1 !important;
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

@media only screen and (min-width: 992px) {
  #slide-component-2 {
    display: none !important;
  }
}

.style-3 {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

@media only screen and (max-width: 600px) {
  #featured .col-12 {
    width: 100% !important;
  }
  #featured .col-12 .cart {
    width: 100% !important;
  }
}

@media only screen and (max-width: 600px) {
  #today-deals .txt {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) {
  .responsive .one-component .card {
    height: 263px !important;
  }
}

@media only screen and (max-width: 768px) {
  .responsive .fashion-img img {
    display: none !important;
  }
}

@media only screen and (max-width: 768px) {
  .responsive .fashion-items .row .col-lg-2 {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) {
  .responsive .fashion-items .row select {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) {
  #electronic .one-component .card {
    height: 263px !important;
  }
}

@media only screen and (max-width: 768px) {
  #electronic .fashion-img img {
    display: none !important;
  }
}

@media only screen and (max-width: 768px) {
  #electronic .fashion-items .row .col-lg-2 {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) {
  #electronic .fashion-items .row select {
    display: none !important;
  }
}

@media only screen and (max-width: 768px) {
  #electronic .big-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.fashion-and-electronics {
  margin-top: 25px;
}

.fashion-and-electronics .custom-container .row .fashion-img {
  padding: 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.fashion-and-electronics .custom-container .row .fashion-img .tittle {
  padding: 15px 4px 15px 0;
  margin: 0;
  background: #ff5c00;
  text-align: center;
}

.fashion-and-electronics .custom-container .row .fashion-img::after {
  position: absolute;
  z-index: 2;
  content: "";
  top: 49px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  opacity: 0.5;
  height: 100%;
  width: 0%;
  -webkit-transition: 1s;
  transition: 1s;
}

.fashion-and-electronics .custom-container .row .fashion-img:hover::after {
  width: 100%;
}

.fashion-and-electronics .custom-container .row .fashion-items {
  padding: 0;
}

.fashion-and-electronics .custom-container .row .fashion-items .row {
  width: 100%;
  margin-left: 0;
  background: #f2f2f2;
}

.fashion-and-electronics .custom-container .row .fashion-items .row .col-lg-2 {
  padding: 13px 0px 13px 0px;
  margin-left: 20px;
}

.fashion-and-electronics .custom-container .row .fashion-items .row select {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px 0 6px 0;
  margin-left: 5px;
  outline: none;
  border: none;
  background: #F2F2F2;
}

.fashion-and-electronics .custom-container .row .fashion-items .components {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fashion-and-electronics .custom-container .row .fashion-items .components .one-component {
  padding: 5px;
}

.fashion-and-electronics .custom-container .row .fashion-items .components .one-component .card {
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}

.fashion-and-electronics .custom-container .row .fashion-items .components .one-component .card .img-area {
  height: 60%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fashion-and-electronics .custom-container .row .fashion-items .components .one-component .card .img-area img {
  width: 72%;
}

.fashion-and-electronics .custom-container .row .fashion-items .components .one-component .card .text-area {
  width: 100%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fashion-and-electronics .custom-container .row .fashion-items .components .one-component .card .text-area .about {
  text-align: center;
}

.fashion-and-electronics .custom-container .row .fashion-items .components .one-component .card .text-area .about .marca {
  margin: 0;
}

.fashion-and-electronics .custom-container .row .fashion-items .components .one-component .card .text-area .about span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10px;
  color: gray;
}

.fashion-and-electronics .custom-container .row .fashion-items .components .one-component .card .text-area .about span i {
  margin-right: 7px;
}

.fashion-and-electronics .custom-container .row .fashion-items .components .one-component .card .text-area .about .price {
  color: #ff5c00;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */